body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
    display: grid;
	grid-template-rows: 70px 1fr;
	grid-template-columns: 35% 65%;
	grid-template-areas: 
	"header content"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:10px;
	background-color:#f8f7f2;
	font-family: Abril Display; 
	font-weight: Bold;
	text-transform: uppercase;
	font-style: italic;
	font-size: 20px;
	color: #4c3d3a; 
}
.sidebar {
	grid-area: sidebar;
	text-align:center;
	padding:10px;
	background-color:#e6e2e7;
	font-family: Georgia;
	font-size:13px;
	color: #4c3d3a; 
}
.content {
	grid-area: content;
}

.sidebar-item {

	text-align:center;
	color: #f8f7f2;
    margin:10px;
    font-size:10px;
    text-transform: uppercase;
    letter-spacing: 2px;
	padding: 15px;
	text-align: center;
	background: #4c3d3a;
} 

.sidebar-item:hover {
	background: #bd9d80

}
